<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigwork.bigwork_apitest.dal.mapper.ResourceIterationDataMapper">



    <sql id="columns">
        resource_data_id,
        now_iteration,
        last_iteration
    </sql>


    <resultMap id="resultMap" type="ResourceIterationDo">
        <id property="resourceDataId" column="resouce_data_id"/>
        <result property="nowIteration" column="now_iteration"/>
        <result property="lastIteration" column="last_iteration"/>

    </resultMap>
    <insert id="createIteration">
        insert into ${resourceIterationDb}(
        <include refid="columns"/>
        )
        values(
        #{resourceDataId},
        #{nowIteration},
        #{lastIteration}
        )
    </insert>
    <select id="getIterationById" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${resourceIterationDb}
        WHERE resource_data_id = #{resourceDataId}
    </select>

    <update id="update">
        update ${resourceIterationDb}
        set now_iteration = #{nowIteration},
        last_iteration = #{lastIteration}
        where resource_data_id = #{resourceDataId}
    </update>



</mapper>