<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigwork.bigwork_apitest.dal.mapper.UserChatMapper">



    <sql id="columns">
        user_id,
        workspace_id,
        friend_id,
        unread,
        gmt_update,
        status
    </sql>

    <resultMap id="resultMap" type="FriendListDo">
        <id property="userId" column="user_id"/>
        <result property="friendId" column="friend_id"/>
        <result property="unread" column="unread"/>
        <result property="status" column="status"/>
        <result property="gmtUpdate" column="gmt_update"/>
        <result property="workspaceId" column="workspace_id"/>

    </resultMap>

    <select id="getFriendList" resultMap="resultMap">
        select <include refid="columns"/>
        from user_chat_db
        where user_id = #{userId}
        and workspace_id = #{workspaceId}
        order by gmt_update desc
        LIMIT #{realOffset},#{pageSize}
    </select>

    <select id="getFriendListByUserIdAndFriendId" resultMap="resultMap">
        select <include refid="columns"/>
        from user_chat_db
        where user_id = #{userId}
        and friend_id = #{friendId}
        and workspace_id = #{workspaceId}
    </select>

    <update id="updateFriendList">
        update user_chat_db
        set unread = #{unread}, gmt_update=#{gmtUpdate}
        where user_id = #{userId}
        and friend_id = #{friendId}
        and workspace_id = #{workspaceId}
    </update>

    <insert id="insertFriendList">
        insert into user_chat_db(user_id,friend_id,unread,gmt_update,workspace_id,status)
        values(#{userId},#{friendId},#{unread},#{gmtUpdate},#{workspaceId},#{status})
    </insert>


</mapper>